*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}


input {
    display: block;
    width: 100%;

    &:focus {
        outline: none;
    }
}

input[type='number']::-webkit-inner-spin-button {
    opacity: 1;
    background: transparent;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration,
select {
    -webkit-appearance: none;
}

button{
    font: inherit;
    border: none;
    background: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}
