.container {
  margin: 0 auto;
  max-width: 1480px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

}

.min-h-container {
  min-height: calc(100vh - 68px);
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-deducted-vw-width{
  width: calc(100vw - 32px);
}

