:root {
  --color-base-bg-100: #E5E5E5;;
  --color-base-bg-200: #F4F6F6;
  --color-base-bg-300: #E8ECED;
  --color-base-bg-400: #DDE3E3;
  --separator-color: rgb(209 213 219);
}

::selection {
  background: #ccc;
}
